.custom_dropzone {
    border: 1px dashed;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.dropzone_text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.roundedButton {
    border-radius: 20px;
    width: 32px;
}

.text-left {
    text-align: left;
}

.rounded-content {
    border-radius: 30px !important;
}

.card-background {
    background-color: #F0F8FF !important;
}

.flex-space_between {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ratings-right {
    justify-content: flex-end;
}

.test {
    right: 0;
    left: auto;
}